---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="S&Y | smit3y.xyz">
  <section class="space-y-3">
    <h1 class="text-3xl font-bold">S&Y</h1>
    <p class="text-(--muted)">Check out my lit ass site its super epic</p>
    <a href="https://ssam01554.wixsite.com/my-site-1" target="_blank"
      >Right here</a
    >
  </section>
</BaseLayout>
