<nav class="w-full border-b border-(--border) bg-(--surface)">
  <ul
    class="mx-auto flex w-full max-w-4xl items-center justify-evenly px-4 py-4"
  >
    <li><a href="/" class="nav-link-hover text-base font-semibold">Home</a></li>
    <li>
      <a href="/about" class="nav-link-hover text-base font-semibold">About</a>
    </li>
    <li>
      <a href="/research" class="nav-link-hover text-base font-semibold"
        >Research</a
      >
    </li>
    <li>
      <a href="/experience" class="nav-link-hover text-base font-semibold"
        >Experience</a
      >
    </li>
    <li>
      <a href="/contact" class="nav-link-hover text-base font-semibold"
        >Contact</a
      >
    </li>
  </ul>
</nav>
